<!--
 Title: not-found.component.html
 Author: John Davidson
 Date: 1/31/2024
 Description: Markup for the not-found component (404 page)
-->

<div class="bg-ravenclaw-silver tehe">
  <div class="lol mt-5">
    <h1 class="text-center">UH OH! <i class="bi bi-emoji-frown"></i></h1>
    <p class="p1 text-center ravenclaw-brown">As much as we'd like for this page to exist... it doesn't.</p>
  </div>
  <div class="image-container d-flex justify-content-center mt-5">
    <img class="error-image" src="../../assets/error-image.jpg">
  </div>
  <div class="return mt-3">
    <p class="p2 text-center ravenclaw-brown">Trying accessing something more available like our <a class="ravenclaw-blue home" routerLink="/">Home</a> page!</p>
  </div>

</div>