<!--
 Title: about.component.html
 Author: John Davidson
 Date: 1/29/2024
 Description: Mark up for the about page.
-->
<!-- Page container -->
<div class="container">
  <div class="row mt-3">
    <h3 class="text-center mt-3 main-heading ravenclaw-brown">A Little About Us</h3>
  </div>

  <div class="row about-container bg-ravenclaw-silver mt-2">
    <!-- Image column -->
    <div class="col-sm-4 mt-5 image-container">
      <img src="../../assets/bio.jpg" class="bio-img d-block mx-auto">
    </div>

    <!-- Bio column -->
    <div class="col-sm-6 mt-3 bio">
      <p>Hi there! We are so grateful for you checking out our NodeBucket website. It has been a long time coming for us to finally deliver a product that can
        facilitate managing tasks. We wanted to design NodeBucket to be an all-encompassing task manager for users ranging from the corporate world to day-to-day
        menial activities. Josh and Robert, the founders of NodeBucket, have had a history of working jobs that required the completion of various daily
        tasks without a meaningful way to keep track of their responsibilities.

      <br /><br />

      Josh, a former project manager in a fast-paced tech compnany, often found himself juggling multiple assignments and struggling to maintain a clear
      overview. Meanwhile, Robert, with a background in marketing, faced the challenge of organizing marketing campaigns and tracking their progress efficiently.
      Fueled by their shared frustration, they envisioned NodeBucket as a dynamic solution to streamline task management, incorporating user-friendly features
      such as task creation, deletion, editing, and the innovative drag-and-drop functionality to effortlessly transition tasks from the "to-do" list to the "completed"
      list.

      <br /><br />

      Their vision for NodeBucket extends beyond just creating a to-do list; it's about empowering individuals to take control of their daily responsibilities,
      whether in the professional realm or day-to-day life. By combining their diverse experiences and insights, Josh and Robert are committed to providing a seamless,
      intuitive and effective task management experience for users, ensuring NodeBucket becomes an indispensable tool for anyone striving to stay organized and on top
      of their tasks. Welcome to NodeBucket, where productivity meets simplicity! </p>
    </div>
  </div>
</div>
