<!--
 Title: contact.component.html
 Author: John Davidson
 Date: 1/24/2024
 Description: Mark up for the contact page.
-->

<div class="container">

  <!-- Row for the page title. -->
  <div class="row">
    <div class="col-sm-12 mt-3">
      <h3 class="text-center mt-5 ravenclaw-brown main-heading">Contact Us!</h3>
    </div>
  </div>

  <br /><br />

  <!-- Main row containing contact information. -->
  <div class="row mt-5">

    <!-- Left column containing home icon and address information.-->
    <div class="col-sm-6 address-row">

      <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <h1><i class="bi bi-house home"></i></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">1000 Galvin Road South</li>
            <li class="list-group-item border-0">Bellevue, Nebraska 68005</li>
          </ul>
        </div>
      </div>

    </div>

    <!-- Right column for phone icon and contact information. -->
    <div class="col-sm-6 contact-row">

      <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <h1><i class="bi bi-telephone phone"></i></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">Phone: 1-800-756-7920</li>
            <li class="list-group-item border-0">Email: BRUINSupportServices@bellevue.edu</li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.245409187346!2d-95.91975202403592!
    3d41.150996071330816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886b1d7a1565%3A0x79b8af7b5882
    cbac!2s1000%20Galvin%20Rd%20S%2C%20Bellevue%2C%20NE%2068005!5e0!3m2!1sen!2sus!4v1706398710164!5m2!1sen!2sus"
     width="325" height="300"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</div>


