/**
 * Title: contact.component.css
 * Author: John Davidson
 * Date: 1/24/2024
 * Description: Styling for the contact page.
 */

/* Styling for address/contact columns */
.address-col, .contact-col {
  border: 2px solid #222f5b;
  border-radius: 8px;
  padding-left: 30px;
  margin-left: 13%;
  width: 30%;
}

/* Styling for contact info text */
li {
  font-size: 16px;
  font-weight: 500;
}

/* Styling for google maps */
.google-map {
  margin-top: 5%;
}

iframe {
  border: 2px solid #222f5b;
  border-radius: 8px;
  display: block;
  margin: auto;
}