/**
 * Title: style.css
 * Author: John Davidson
 * Date: 1/18/2024
 * Description: Global styles file
 */

.main-heading {
  font-size: 36px;
}

.bg-ravenclaw-blue {
  background-color: #222f5b;
}

.bg-ravenclaw-silver {
  background-color: #BEC4C1;
}

.ravenclaw-blue {
  color: #222f5b;
}

.ravenclaw-silver {
  color: #BEC4C1;
}

.ravenclaw-brown {
  color: #946b2d;
}

.nav-font {
  font-size: 22px;
}

.sign-in-out-button {
  margin-left: 60px;
}

