/**
 * Title: home.component.css
 * Author: John Davidson
 * Date: 1/18/2024
 * Description: Styling for the home page.
 */

h1 {
  font-size: 50px;
  margin-top: 50px;
}

/* Styling for welcome screen div */
.description {
  width: 700px;
  margin: auto;
  margin-top: 70px;
}

/* Styling for welcome screen paragraph text */
p {
  text-align: center;
  font-size: 20px;
}

/* Styling for welcome screen image container */
.image-container {
  margin-top: 25px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

/* Styling for welcome screen image */
img {
  height: 350px;
  width: 350px;
  border: 1px solid black;
  border-radius: 8px;
}

