<!--
 Title: home.component.html
 Author: John Davidson
 Date: 1/18/2024
 Description: Mark up for the home page.
-->

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col home-container">
      <h1 class="text-center lol ravenclaw-brown">Welcome to Nodebucket! <span class="material-icons">thumb_up</span></h1>

      <div class="image-container">
        <img src="../../assets/checkmark.jpg">
      </div>

      <div class="description">
        <p>Discover the power of Nodebucket, the task manager that empowers you to conquer your daily challenges.
          Effortlessly manage your to-do list, drag and drop tasks, and celebrate your accomplishments. Experience productivity redefined!</p>
      </div>



    </div>

  </div>

   <!-- Unsure the purpose of this link
    <a routerLink="/security">Test Security Module</a>
  -->
</div>


